<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<head>
	<title>Numbers</title>
</head>
<body>

<div class="Container"></div>

<h1>Numbers</h1>

<div class="jumbotron" id="inputTron">
	<h3>Input</h3>
	<div>
	<input type="number" name="0">
	</div>
	<div>
	<button id="spell">Spell out the digits of this number</button>
	<button id="backward">Tell me my number, but backwards</button>
	<button id="digits">Tell me how many digits are in my number</button>
	<button id="enhance">Enhance the webpage</button>
	</div>
</div>

<div class="jumbotron" id="resultTron">
	<h3>Results</h3>
	<ul id="resultList">
	</ul>
</div>	
</div>




</body>

<link rel="stylesheet" type="text/css" href="numbers.css">

<script type="text/javascript" src="numbers.js"></script>

</html>