body	{
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 100px;
	height: 100px;
}

#one {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

#two {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

#three {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

#four {
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

#five {
	border: 2px solid black;
}

#six {
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

#seven {
	border-top: 2px solid black;
	border-right: 2px solid black;
}

#eight {
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#nine {
	border-top: 2px solid black;
	border-left: 2px solid black;
}